@charset "UTF-8";
/*嵌套写法*/
.wjs_app {
  display: block;
  /*如果是伪类元素 或者 交集时 连接是没有空隙的 使用 &符来连接*/
  /*子代选择器可以直接使用*/
}
.wjs_app img {
  display: none;
}
.wjs_app:hover img {
  display: block;
  position: absolute;
  left: 50%;
}
.wjs_app > div {
  display: block;
}
